<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.3" package="com.dellapz.taskbuddi" android:versionCode="4">
	<application android:label="TaskBuddi" android:debuggable="true" android:icon="@drawable/ic_launcher" android:theme="@style/Theme.TaskBuddi">
		<!-- Put your Google Maps V2 API Key here. This key will not work for you.-->
		<!-- See https://developers.google.com/maps/documentation/android/start#obtaining_an_api_key -->
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyC4j_tC-GB4nbBi66JdpqXkBHfqYieqsjM" />
		<meta-data android:name="com.google.android.gms.version" android:value="google_play_services_version" />
	</application>
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>